footer {
	position: relative;
	height: 90px;
}

.copyrights {
	position: absolute;
	top: calc(50% - 7px);
	font-size: 14px;
	font-family: $text-font-headline;
	color: #555;
}

.footer__social {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
