@import url('https://fonts.googleapis.com/css?family=Merriweather:400i|Montserrat:400,700|Roboto+Slab');

$bg-color-white: #fff;
$bg-color-grey: #f7f7f7;
$bg-color-dark: #222;
$text-color-dark: #222;
$text-color-light: #777;
$text-color-white: #fff;
$detail-color: #fed136;

$text-font-headline: 'Montserrat', sans-serif;
$text-font-italics: 'Merriweather', serif;
$text-font-regular: 'Roboto Slab', serif;